extends ../layout

block content

    div(class='container')
        include nav.pug
        h1(class='admin')=title
        h2(class='admin') Lista wydarzeń
        ul(class='admin list') 
            each item, index in datas.item2
                li
                    p=`${index +1}. ${item.title}`
                        div.buttons
                            a(href=`/admin/news/edit/${item._id}`) Edytuj
                            a(href=`/admin/news/delete/${item._id}` onclick=`return confirm('Czy na pewno chcesz usunąć wydarzenie: ${item.title}?')`) Usuń
        h2(class='admin') Lista Warsztatów
        ul(class='admin list') 
            each item, index in datas.item1
                li
                    p=`${index+1}. ${item.title}`
                        div.buttons
                            a(href=`/admin/workshop/edit/${item._id}`) Edytuj
                            a(href=`/admin/workshop/delete/${item._id}` onclick=`return confirm('Czy a pewno chcesz usunąć warsztat: ${item.title}?')`) Usuń