mixin itemNav(title,url,socialIcon)
  if !socialIcon
    li.nav-item 
      a.nav-link(href=url class = path==url? 'active': '')=title
  else
    li.nav-item.socialmedia
      a.nav-link.socialmedia(href=url target='_blank')
        i(class=socialIcon)


mixin itemHamburger(title, url, i, target,main)
  if url
    li
      a(href=url target=target?'_blank':'')
        i(class=i)
        span=title
  else
    li.main
      i.fas.fa-bars

.hamburger
  ul
    +itemHamburger('Hamburger',false)
    +itemHamburger('Start','/','fas fa-home')
    +itemHamburger('Aktualności','/news','far fa-newspaper')
    +itemHamburger('Menu','/menu','fab fa-envira')
    +itemHamburger('Oferta','/#services','fab fa-buffer')
    +itemHamburger('Galeria','/gallery','fas fa-camera-retro')
    +itemHamburger('Kontakt','/contact','far fa-envelope')
    +itemHamburger('Facebook','https://www.facebook.com/HerbaciarniaZiolowa','fab fa-facebook',true)
    +itemHamburger('Tripadvisor','https://pl.tripadvisor.com/Restaurant_Review-g1019203-d22834028-Reviews-Herbaciarnia_Ziolowa-Sobotka_Lower_Silesia_Province_Southern_Poland.html?m=19905','fab fa-tripadvisor',true)
.header_section
  .container-fluid
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .logo
        a(href='/')
          img(src='/images/logoTransparent.png')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          +itemNav('Start', '/')
          +itemNav('Aktualności', '/news')
          +itemNav('Menu', '/menu')
          +itemNav('Oferta', '/#services')
          +itemNav('Galeria', '/gallery')
          +itemNav('Kontakt', '/contact')
          +itemNav('Facebook','https://www.facebook.com/HerbaciarniaZiolowa','fab fa-facebook')
          +itemNav('Tripadvisor','https://pl.tripadvisor.com/Restaurant_Review-g1019203-d22834028-Reviews-Herbaciarnia_Ziolowa-Sobotka_Lower_Silesia_Province_Southern_Poland.html?m=19905','fab fa-tripadvisor')
