extends layout 
mixin galleryImg(src, collectionName, title)
    a(href=src data-lightbox=collectionName data-title=title alt=title)
        img(src=src)
block content
    .gallery
        h1.gallery_taital Galeria
        +galleryImg('./images/DSC.JPEG','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0166.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0240.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0101.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0465.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0128.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0509.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0394.JPEG','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0511.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0144.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')
        +galleryImg('./images/DSC_0153-3.jpg','image-1','Herbaciarnia Ziołowa - Sobótka')