extends layout

block content
  .newswrap
    if clickedArticle
      .clickedArticle
            h2=clickedArticle.title
            h3(class='date')
              span=clickedArticle.created
              if clickedArticle.facebook 
                a(href=clickedArticle.facebook target='_blank')
                  i.fab.fa-facebook
                  |  Facebook

            if clickedArticle.image
              img(src=clickedArticle.image class='news')
            p=clickedArticle.description

    article.news
      if !clickedArticle
        p Herbaciarnia Ziołowa to nie tylko miejsce gdzie wypijesz pyszną herbatę i zjesz słodkości, pragniemy, by była kojarzona równie mocno z działaniami artystycznymi, które Wam zaproponujemy! Wierzymy, że sztuka łączy ludzi i łagodzi obyczaje! Chcemy organizować dla Was wystawy artystyczne, wernisaże, kameralne spotkania z poezją i muzyką, oraz przeróżne warsztaty rękodzielnicze!
    .news
      h1(class='activator' id='news' ) Aktualności
        i.fas.fa-chevron-circle-down.activator(id='news')
      each item in datas.item2
       if item.title!==clickedArticle.title
        .item
          h2=item.title
          h3(class='date')
            span=item.created
            if item.facebook 
              a(href=item.facebook target='_blank')
                i.fab.fa-facebook
                |  Facebook

          if item.image
            img(src=item.image class='news')
          p=item.description
    .workshop
      h1(class='activator' id='workshop') Warsztaty
        i.fas.fa-chevron-circle-down.activator(id='workshop')
      each item in datas.item1
        .item
          h2=item.title
          h3(class='date')
            span=item.created
            if item.facebook 
              a(href=item.facebook target='_blank')
                i.fab.fa-facebook
                |  Facebook
          if item.image
            img(src=item.image class='workshop')
          p=item.description



