mixin bannerArticle(title,date,text,btn,active)
    .carousel-item(class=active?'active':null)
          .row
            .col-sm-12
              .banner_taital
                h1.outstanding_text=date
                h1.coffee_text=title
                p.there_text=text
                    if btn
                        .learnmore_bt
                            a(href=`./news/${btn}` target="_blank") Więcej
.banner_section.layout_padding
  img.logo2(src='images/logoTransparent.png' alt='')
  .container
    #main_slider.carousel.slide(data-ride='carousel')
      .carousel-inner
        +bannerArticle('Herbaciarnia ziołowa','Sobótka','Nowe wyjątkowe miejsce w centrum Sobótki, duży wybór pysznych herbat, sklep z rękodziełem i prezentami, miejsce spotkań i wydarzeń kulturalnych.', false, true)
        each item in datas
          +bannerArticle(item.title, item.created, item.description.split(' ').slice(0,20).join(' ')+'...', item._id)

      a.carousel-control-prev(href='#main_slider' role='button' data-slide='prev')
        i.fa.fa-angle-left
      a.carousel-control-next(href='#main_slider' role='button' data-slide='next')
        i.fa.fa-angle-right
